*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #b72522;
  --blue: #0c3542;
  --white: #e9e8e4;
  --off-white: #e1dfd3;
}

.wave-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  background-color: var(--off-white);
  position: relative;
  width: 100%;
  transform: scale(1, 1);
  font-family: "Karla", sans-serif;
}
.wave-bg::before {
  content: "";
  display: block;
  border-radius: 0 0 50% 100%;
  position: absolute;
  width: 50%;
  height: 10vh;
  background-color: var(--blue);
  right: 0%;
  top: 0%;
}

.circle {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  width: 4vh;
  height: 4vh;
  background-color: var(--red);
  z-index: 1;
  top: 0%;
}

.wave-bg::after {
  content: "";
  display: block;
  border-radius: 0 0 100% 50%;
  position: absolute;
  width: 50%;
  height: 10vh;
  background-color: var(--blue);
  left: 0%;
  top: 0%;
}

main {
  background-color: var(--red);
  padding: 1em;
  z-index: 10;
  border-radius: 1em;
  margin-top: 4.5em;
}

section.text {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
textarea,
input[type="text"],
input[type="number"] {
  background-color: var(--white);
  border: 2px solid var(--blue);
  border-radius: 0.4em;
  outline: none;
  padding: 0.3em 0.4em;
}
textarea {
  resize: none;
  height: 250px;
}
input[type="text"] {
  font-size: 18px;
  width: fit-content;
}
button.save {
  border: 2px solid var(--white);
  background-color: var(--white);
  color: var(--blue);
  font-size: 18px;
  border-radius: 0.4em;
  outline: none;
  padding: 0.3em 0.4em;
}

button.save:hover {
  background-color: var(--blue);
  color: var(--white);
  border: 2px solid var(--blue);
}

.save-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1em;
}

.controls {
  border: 2px solid var(--off-white);
  border-radius: 0.4em;
  font-size: 18px;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.for {
  display: inline-block;
  padding: 0.3em;
}
hr {
  width: 2px;
  height: 1em;
  color: var(--off-white);
}

.for button {
  background-color: transparent;
  border: none;
  padding: 0.2em;
}
.for button:hover {
  background-color: var(--white);
  border-radius: 0.4em;
  padding: 0.4em;
  border: 2px solid var(--blue);
  color: var(--blue);
}
.for button:focus,
.for button.active {
  background-color: var(--blue);
  color: var(--white);
  border: 2px solid var(--blue);
  border-radius: 0.4em;
}

.others {
  display: flex;
  align-items: center;
  gap: 0.4em;
}
.size {
  display: flex;
  flex-direction: column;
}
.size label {
  font-size: 10px;
  font-weight: 800;
  font-style: italic;
}

input[type="number"] {
  width: fit-content;
}

input[type="color"] {
  background-color: transparent;
  border: none;
  outline: none;
  width: 2em;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 1em;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
